a, a:visited {
  color: #0D7359;
  text-decoration: underline;
  text-decoration-color: #50D3B2;
}

a:hover {
  color: #0D7359;
  text-decoration: underline;
  text-decoration-color: #0D7359;
}

.container-xl {
  padding: 0;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
  color: #022C21;
}

h1,h2,h3,h4,h5 {
  font-family: Alegreya Sans;
  font-style: normal;
}
h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
h2 {
  font-size: 32px;
  line-height: 35px;
}

h3 {
  font-size: 26px;
  line-height: 29px;
 }

 ul {
   padding-top: 20px;
   list-style: none;
 }

 li {
   line-height: 25px;
 }

i {
  color: #50D3B2;
  padding-right: 5px;
}

.inputContainer i {
   position: absolute;
}
.inputContainer {
   width: 100%;
   margin: 40px 0 30px 0;
}
.icon {
   padding: 10px;
   color: #50D3B2;
   width: 70px;
   text-align: left;
}
.input-field {
   padding: 0px;
   padding-left: 40px;
   text-align: left;
   font-size: 20px;
   font-weight: 500;
}

.fa-facebook {
    font-size: 22px;
  }

.social {
  height: 22px
}

.social a {
    line-height:22px;
    vertical-align: top;
}

.banner {
  background: #50D3B2;
}
.banner ul {
  padding-top: 5px;
  padding-bottom: 5px;
}
.banner li {
  font-size: 18px;
  color: #022C21;
  display:none;
}

.banner li:first-of-type {
  display:block;
}

.navbar-brand img {
  width: 250px;
}

.navbar-nav li {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #0D7359;
  padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #0D7359;
}

#navbarSupportedContent {
  padding-right: 3em;
}

header {
  background: #F2F8F7;
  padding-bottom: 10px;
}
header .tagline {
  max-width: 765px;
}

.tagline {
  max-width: 650px;
  padding: 15px;
}

header p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

footer {
  font-size: 16px;
  line-height: 100%;
  background: #F2F8F7;
}

footer h4 {
  color: #161817;
  font-size: 16px;
  font-weight: bold;
  padding-top: 1.5em;
}

footer p.line {
  border-bottom: 1px solid #0D7359;
}

footer .branding {
  font-size: 14px;
  padding-top: 1.5em;
}

footer .branding p {
  line-height: 22px;
}

footer .branding a {
  text-decoration: underline;
}

.services .container.text {
  text-align: center;
  max-width: 565px;
}

.services .container-xl {
  text-align: center;
}
.services .restricted {
  max-width: 350px;
  text-align: center;
}

section .container, section .container-xl, .providers .g-bg h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.overlay_centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.overlay_centered h1 {
  color: #022C21;
  font-size: 80px;
  line-height: 80px;
  padding:0
}
.overlay_centered.white h1 {
  color: #FFF;
}

.services img {
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
}

.services .highlighted_link a {
  font-size: 32px;
}

.providers p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 0;
}

.providers a {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #0D7359;
}
.home .providers .highlighted_link{
  text-align: center;
}
.highlighted_link a {
  font-family: Alegreya Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #0D7359;
}

.home .providers .g-bg {
 background: #F2F8F7;
}

.providers .g-bg .row {
  margin-right: 0px;
 margin-left: 0px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-container {
  background-size: 100%;
  width: 100%;
  background-position: bottom;
  position: relative;
}

.doctors h1 {
  text-align: left;
}

.doctors a {
  font-size: 24px;
}

p.name {
  margin-bottom: 0;
  margin-top: 15px;
}

.doctors .container-xl {
  margin-top: 10px;
}

.provider-detail header {
  background: #FFF;
}

header .overlay_centered span {
  font-family: Alegreya Sans;
  font-size:20px;
  line-height: 22px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #022C21;
  opacity: 0.5;
}
.provider-detail header span:last-of-type {
  letter-spacing: 0.15em;
  font-weight: bold;
  opacity: 1;
}

.provider_detail section {
  padding-top: 40px;
}

.provider_detail .col-sm-8 h2 {
  padding-top: 30px;
}

.vids div {
  padding-top: 35px;
}

.services-idx .tagline {
  font-size: 24px;
}

.service-item {
  padding-bottom: 20px;
}

.service-item .service-summary {

}

.service_detail section {
  padding: 35px 0;
}

.service_detail .services {
  padding-top: 25px;;
  font-size: 20px;
  line-height: 32px;
}

.service_detail .services_content ul {
  padding-top: 0;
  padding-bottom: 20px;
}

span.file_type {
  color: #022C21;
  opacity: 0.5;
}

.service_detail .services ul li::before,
.massage-therapy .benefits ul li::before,
.faq_detail section ul li::before,
.terms section ul li::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-top: 10px;
  color: #50D3B2;
}
.massage-therapy .benefits {
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #F2F8F7;
  opacity: 0.8;
  padding-top: 20px;
  margin-top: 35px;
}

.massage-therapy .benefits h2 {
  text-align: center;
}
.massage-therapy h4 {
  text-align: center;
  font-size: 26px;
  padding-top: 15px;
}
.massage-therapy .benefits ul {
  font-size: 20px;
  padding:0 20px;
}

.massage-therapy .benefits .col {
  padding-right: 0;
}

.massage-therapy em {
  position: absolute;
  top: 140px;
  left: 70px;
  font-size: 14px;
  color: #8D9694;
}

.massage-therapy .col-sm-5 .container {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(2, 44, 33, 0.15);
  border-radius: 12px;
}
.massage-therapy .col-sm-5 .text-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 10px;
}
.massage-therapy .col-sm-5 .text-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 10px;
}
.massage-therapy .col-sm-5 p {
  margin-bottom: 0;
}
.massage-therapy .col-sm-5 .title, .massage-therapy .col-sm-5 .alt {
  background: #F2F8F7;
  margin-bottom: 10px;
}
.locations-idx section h1 {
  text-align: left;
  padding: 0;
}
.locations-idx h5 {
  font-size: 26px;
  color: #8D9694;
  font-weight: bold;
  padding-bottom: 30px;
}
.locations-idx section .img-responsive {
  max-width: 500px;
}
.locations-idx .highlighted_content {
  background: #F2F8F7;
  padding: 48px 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.locations-idx .highlighted_content h2 {
  padding-bottom: 15px;
}
.resource-summary small {
  font-size: 15px;
  font-weight: bold;
}
.safe_meds h4 {
  font-size: 20px;
  font-family: Open Sans;
  font-weight: bold;
  line-height: 34px;
}


.forms_information h2 {
  padding-top: 35px;
}
.health_plans #plans {
  background: #FFFFFF;
  border: 2px solid #0D7359;
  box-sizing: border-box;
  border-radius: 4px;
  width: 90%;
  max-width: 400px;
}
.health_plans #filter-cont {display: none;}

.health_plans .input-field:focus {
  border: 2px solid #0D7359;
}

.health_plans .ui-menu, .health_plans .ui-helper-hidden-accessible {
  display: none!important;
}

.health_plans h3 {
  padding-top: 30px;
}
.faq_detail .ui-accordion-header {
  cursor: pointer;
}
.faq_detail .icon {
  left: 200px;
}
.faq_detail .input-field {
  padding-left: 5px;
  margin-left: 5px;
  color: #50D3B2;
}
.faq_detail section ul {
  padding-top:0;
}
#datepicker {
  cursor: pointer;
}
.mobile {
  display: none;
}
.vids {
  padding-top: 30px;
}
.terms section ul {
  padding-top: 0;
}
.map iframe {
  width: 100%;
  max-width: 300px;
}
.safe_medications_during_pregnancy .ui-state-focus {
    border: 1px solid #50D3B2;
}
.safe_medications_during_pregnancy .ui-state-active {
    border: 1px solid #50D3B2;
    background: #0D7359;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1440px !important;
  }
  .home .providers .col-lg-3 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
  .home .locations .col-lg-6 {
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%;
  }
}
@media (max-width: 1200px) {
  header .img-responsive {
    min-height: 176px;
  }
  .faq_detail header .img-responsive {
    height: 250px;
  }
  .provider_detail header .img-responsive {
    height: 215px;
  }
  body {

    font-size: 18px;
    line-height: 29px;
    color: #022C21;
  }
  h1 {
    font-size: 32px;
    line-height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 26px;
    line-height: 28px;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
   }
   h4 {
     font-size: 20px;
     line-height: 25px;
    }
    .overlay_centered h1 {
      font-size: 40px;
      line-height: 40px;
    }
    header .overlay_centered span {
      font-size: 16px;
      line-height: 18px;
    }
    .container-xl {
      padding: 0 15px;
    }
}

@media (max-width: 600px) {

   .services .highlighted_link a {
       font-size: 26px;
       line-height: 29px;
   }
   .services .restricted {
     max-width: none;
   }
   .services-idx .tagline {
     font-size: 22px;
    }
    .services-idx .service-item {

    }
   .service_detail .services {
     font-size: 18px;
     line-height: 20px;
   }
  .home .providers .g-bg {
     background: none;
   }
  .providers .g-bg .col-sm-8 {
     margin: 0 40px 20px 40px;
   }
  .highlighted_link a {
     font-size: 22px;
     line-height: 24px;
   }
   section .container, section .container-xl, .providers .g-bg h2 {
     margin-top: 25px;
     margin-bottom: 25px;
   }
  .navbar-brand img {
    width: 200px;
  }
  .doctors p.name a {
    font-size: 20px;
  }
  .doctors .pr-5 {
    padding-right: 0!important;
    padding-left: 0;
  }

  footer .px-5, footer .pl-4 {
    padding-right: 0!important;
    padding-left: 0!important;
  }

  footer .col {
    min-width: 100%;
    order: 2;
  }
  footer .col h4 {
    padding-top: 35px;
  }
  footer .branding {
    padding-top: 35px;
  }
  footer .branding img {
    display: none;
  }
  footer .mobile {
    padding-top: 35px;
    padding-bottom: 0px;
    text-align: center;
  }
  .mobile {
    padding-bottom: 20px;
    display: block;
  }
  .desktop {
    display: none;
  }
  .locations-idx .highlighted_content {
    background: #F2F8F7;
    padding: 4px;
    margin: 20px;
    margin-bottom: 10px;
  }
  .locations-idx .highlighted_content h2 {
    padding: 15px 0;
  }
  .service-item {
    margin-left: 5px;
  }
}
