{% extends "base_generic.html" %}
{% block title %}{{resource.name}}{% endblock %}
{% block pageId %}resource_detail {{resource.slug}}{% endblock %}
{% block content %}
{{ headerFragment }}
{% load static %}
<header>
  <div class="img-container">
    <picture class="img-responsive">
      <source srcset="{% static 'images/JPGs/header.sm.jpg' %}" media="(max-width: 700px)">
      <source srcset="{% static 'images/JPGs/header.jpg' %}">
      <img src="{% static 'images/JPGs/header.jpg' %}" alt="{{provider.slug}}" class="img-responsive">
    </picture>
    <div class="overlay_centered">
      <span>Patient Resources</span>
      <h1>{{resource.name}}</h1>
    </div>
  </div>
</header>
<section>
  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-5 col-sm-12">
      <h2>Forms</h2>
      {% for form in forms %}
        <p><a href="{% firstof form.file form.link %}">{{form.name}}</a> {% if form.file_type %}<span class="file_type">({{form.file_type}})</span>{% endif %}</p>
      {% endfor %}
    </div>
    <div class="col-md-5 col-sm-12">
      <h2>Information</h2>
      {% for info in infos %}
        <p><a href="{% firstof info.file info.link %}">{{info.name}}</a> {% if info.file_type %}<span class="file_type">({{info.file_type}})</span>{% endif %}</p>
      {% endfor %}
    </div>
    <div class="col-md-5 col-sm-12">
      <h2>Frequently Asked Questions</h2>
      {% for faq in faqs %}
        <p><a href="{% firstof faq.file faq.link %}">{{faq.name}}</a> {% if faq.file_type %}<span class="file_type">({{faq.file_type}})</span>{% endif %}</p>
      {% endfor %}
    </div>
    <div class="col-md-5 col-sm-12">
      &nbsp;
    </div>
  </div>
  </div>
</section>
{{ footerFragment }}
{% endblock %}
