{% extends "base_generic.html" %}
{% block content %}
{{ headerFragment }}
{% load static %}
<header>
  <div class="img-container">
    <picture class="img-responsive">
      <source srcset="{% static 'images/JPGs/northland-obstetrics-gynecology-team.sm.jpg' %}" media="(max-width: 700px)">
      <source srcset="{% static 'images/JPGs/northland-obstetrics-gynecology-team.jpg' %}">
      <img src="{% static 'images/JPGs/northland-obstetrics-gynecology-team.jpg' %}" alt="Flowers" class="img-responsive">
    </picture>
  </div>
  <div class="tagline container">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1>A Tradition of Women’s Healthcare</h1>
        <p>For over 50 years, Northland Obstetrics and Gynecology has been dedicated to providing the highest quality of healthcare to women in the Kansas City Northland.</p>
      </div>
    </div>
  </div>
</header>
{% if services %}
<section class="services">
  <div class="container text">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1>Our Services</h1>
        <p>Our providers specialize in obstetrics and gynecology services in offices conveniently located in Liberty and the Kansas City Northland.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for service in services %}
      <div class="col restricted">
        <div><a href="{{ service.get_absolute_url }}"><img src="{{ service.icon }}" width="100%"/></a></div>
        <p class="highlighted_link"><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section class="providers">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1>Meet our Providers</h1>
      </div>
    </div>
  </div>
  <div class="container-xl g-bg">
    <div class="row justify-content-md-center">
      {% for provider in providers %}
      <div class="col-md-6 col-lg-3 col-sm-8 px-0">
        <div><a href="{{ provider.get_absolute_url }}"><img src="{{ provider.image_sml }}" width="100%" loading="lazy"/></a></div>
        <div class="pl-2">
          <p class="name"><a href="{{ provider.get_absolute_url }}">{{ provider.name }}</a></p>
          <p>{{ provider.focus }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-md-center">
      <div class="col">
        <h2 class="highlighted_link"><a href="{% url 'providers:index' %}">Meet all Providers and Staff</a></h2>
      </div>
    </div>
  </div>
</section>
<section class="locations">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1>Our Locations</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      {% for location in locations %}
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div><a href="{{ location.get_absolute_url }}"><img src="{{ location.image }}" width="100%" loading="lazy"/></a></div>
        <h2 class="highlighted_link"><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></h2>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{{ footerFragment }}
{% endblock %}
