{% extends "base_generic.html" %}
{% block title %}Terms{% endblock %}
{% block pageId %}terms{% endblock %}
{% block content %}
{{ headerFragment }}
{% load static %}
<header>
  <div class="img-container">
    <picture class="img-responsive">
      <source srcset="{% static 'images/JPGs/header.sm.jpg' %}" media="(max-width: 700px)">
      <source srcset="{% static 'images/JPGs/header.jpg' %}">
      <img src="{% static 'images/JPGs/header.jpg' %}" alt="" class="img-responsive">
    </picture>
    <div class="overlay_centered">
      <h1>Terms of Use Policy</h1>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">

        <p><em>Last updated July 1, 2018</em></p>

        <p><strong>Welcome</strong><br>
        Welcome to the Signature Medical Groups Northland Obstetrics &amp; Gynecology, Inc. website (“Site”). This Site is an online information and communications service provided by Signature Medical Group, Inc., Signature Medical Group of KC, P.A., and Northland Obstetrics &amp; Gynecology, Inc. (collectively, “Signature”).</p>

        <p><strong>Health Care Disclaimer</strong><br>
        The information, content, products, and services described on this Site are here to educate visitors on health care and medical issues. Nothing in the content, products, or services described on this Site should be considered, or used as a substitute for, medical advice, diagnosis, or treatment. This Site and the services described do not constitute the practice of any medical, nursing, or professional health care advice, diagnosis, or treatment and your use of this Site or receipt of information on this Site does not create or constitute a physician-patient relationship or any other health care provider relationship. You should always talk to your health care provider for diagnosis and treatment, including your specific medical needs. None of the products or services offered through this Site represents or warrants that any particular service or product is safe, appropriate, or effective for you.</p>

        <p>We advise our Site visitors to always consult with a physician on any personal health or medical conditions. If you have or suspect that you have a medical problem or condition, you should contact a qualified health care professional. If you are experiencing a medical emergency, please call 911 or call for emergency medical help.</p>

        <p><strong>Terms of Use</strong><br>
        Use of this Site is subject to the following terms of use. Signature may modify these terms and conditions at any time, and such modifications shall be effective immediately upon posting the modified terms and conditions on the Site. As a visitor, you agree to review the policy periodically to be aware of such modifications, and your accessing or using this Site constitutes your acceptance of the terms of use as they appear at the time of your access or use.</p>

        <p>You agree that you will not:</p>

      <ul>
      	<li>Upload or transmit any communications or content of any kind that may infringe upon or violate the rights of any party;</li>
      	<li>Use this Site for any purpose in violation of local, state, national, or international laws;</li>
      	<li>Use this Site as a means to distribute advertising or other unsolicited material; or</li>
      	<li>Attempt to disable, “hack,” or otherwise interfere with the proper functioning of this Site.</li>
      </ul>

      <p>If you use any part of the Site requiring secure access, you are responsible for maintaining the confidentiality of your account and for restricting access to your computer. You also agree to accept responsibility for all activities that occur under your account.</p>

      <p><strong>Termination of Use </strong><br>
      Signature may, in its sole discretion, terminate your account or your use of the Site at any time.</p>

      <p>Signature reserves the right to change, suspend, or discontinue all or any aspect of the Site at any time without prior notice.</p>

      <p><strong>Intellectual Property</strong><br>
      The marks “Signature,” “Signature Medical Group,” “Signature Medical Group, Inc.,” and the equilateral cross Signature logo are trademarks and/or service marks of Signature. The content and design of the Signature Site is protected by U.S. and international copyright laws. You may not copy, reproduce, republish, upload, post, display, transmit, or frame any of these materials without prior written consent from the copyright owners. You may view, download, display, and print a single copy of these materials on a single computer for personal, noncommercial use only, so long as:</p>

      <ul>
      	<li>You do not alter or modify the materials in any way;</li>
      	<li>You include all applicable notices and disclaimers (including copyright notices);</li>
      	<li>You do not use the materials in a way that suggests an association with Signature or an affiliated Signature entity; and</li>
      	<li>You understand and agree that title to these materials shall not pass to you or any other user.</li>
      </ul>

      <p><strong>Blogs and Interactive Media</strong><br>
      If you use blogging or interactive media features or otherwise post information to this Site or a Signature Site accessible from this Site, you give Signature the irrevocable right to reproduce, distribute, publish, display, edit, modify, create derivative works from, and otherwise use your submission for any purpose, in any form, and on any media.</p>

      <p>If you use blogging features or other interactive media on the Site or linked to the Site, you agree you will not:</p>

      <ul>
      	<li>Post material that infringes on the rights of any third party, including intellectual property, privacy, or publicity rights;</li>
      	<li>Post material that is unlawful, obscene, defamatory, threatening, harassing, abusive, slanderous, hateful, or embarrassing to any other person or entity as determined by Signature in its sole discretion;</li>
      	<li>Post advertisements of solicitations for business,</li>
      	<li>Post chain letters, pyramid schemes, or other fraudulent solicitations;</li>
      	<li>Impersonate another person including but not limited to a spouse, child, or sibling;</li>
      	<li>Allow another person to use your account credentials; and</li>
      	<li>Post the same note more than once or “spam.”</li>
      	<li>Signature reserves the right (but is not obligated) to do any or all of the following:</li>
      	<li>Remove communications that fail to conform with these terms of use;</li>
      	<li>Terminate a user’s access to the entire Site or specific features; and</li>
      	<li>Edit or delete any communications posted on the Site, regardless of whether such communications violate these standards.</li>
      </ul>

      <p><strong>Links to Third-Party Websites</strong><br>
      This Site contains links to other sites operated by third parties, including but not limited to third party sites that may display the Signature trademarks (“Third-Party Site,” “Third-Party Sites”). These links are available for your convenience and are intended only to enable access to these Third-Party Sites and for no other purpose.</p>

      <p>Signature does not warrant or make any representation about the substance, quality, functionality, accuracy, fitness for a particular purpose, merchantability or any other representation about any Third-Party Site or its consent. A link to a Third-Party Site on the Signature Site does not constitute sponsorship, endorsement, approval, or responsibility for any Third-Party Site or its content. Signature makes no representation or warranty as to any products or services offered on any Third-Party Site. The conditions of use and privacy policy of any Third-Party Site may differ substantially from the ones that apply to your use of this Site. Please review the conditions of use for all Third-Party Sites for more information about the terms and conditions that apply to your use of those sites.</p>

      <p><strong>Errors and Updates on the Signature Site</strong><br>
      We strive to keep information on this Site current and updated, but it may not always reflect the most recent medical or clinical research developments. Content, including our Treatments and Conditions pages, and services are subject to change without notice. Errors will be corrected where discovered, and updates will be made in a timely manner. Signature reserves the right to correct any errors, inaccuracies, or omissions including after use by a visitor to this Site. &nbsp;If you use this Site to make a payment to Signature and your credit card has already been charged for the purchase and your payment has been made in error, Signature will issue a credit to your account in the amount of the charge. Individual bank policies will dictate when this amount is credited to your account.</p>

      <p><strong>Disclaimers</strong><br>
      YOU UNDERSTAND AND AGREE THAT THE SIGNATURE SITE AND ANY SERVICES, CONTENT, OR INFORMATION CONTAINED ON OR PROVIDED BY THE SIGNATURE SITE IS PROVIDED ON AN “AS IS” BASIS. SIGNATURE DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE OR ANY MERCHANDISE, INFORMATION, OR SERVICE PROVIDED THROUGH THE SERVICE. ADDITIONALLY, SIGNATURE DOES NOT GUARANTEE THAT USE OF THE SIGNATURE SITE WILL BE FREE FROM TECHNOLOGICAL DIFFICULTIES INCLUDING, BUT NOT LIMITED TO, UNAVAILABILITY OF INFORMATION, DOWNTIME, SERVICE DISRUPTIONS, VIRUSES, OR WORMS, AND YOU UNDERSTAND THAT YOU ARE RESPONSIBLE FOR IMPLEMENTING SUFFICIENT PROCEDURES AND CHECKPOINTS TO SATISFY YOUR PARTICULAR REQUIREMENTS FOR ACCURACY OF DATA INPUT AND OUTPUT.</p>

      <p><strong>Limitations of Liability</strong><br>
      THE USE OF THIS SITE IS ENTIRELY AT YOUR OWN RISK, AND IN NO EVENT SHALL SIGNATURE BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR ANY OTHER MONETARY OR OTHER DAMAGES, FEES, FINES, PENALTIES, OR LIABILTIES ARISING OUT OF OR RELATING IN ANY WAY TO THIS SERVICE, OR SITES ACCESSED THROUGH THIS SERVICE, AND/OR CONTENT OR INFORMATION PROVIDED HEREIN. YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THE SERVICE IS TO STOP USING THE SERVICE. THE USER HEREBY ACKNOWLEDGES THAT THIS PARAGRAPH SHALL APPLY TO ALL CONTENT, MERCHANDISE, AND SERVICES AVAILABLE THROUGH THIS SITE. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTIAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>

      <p><strong>Contact Information</strong><br>
      If you have any questions, please contact us at the following:</p>

      <p>Email: <a href="mailto:info@signaturehealth.net">info@signaturehealth.net</a><br>
      Phone number: 314-628-1650<br>
      Address: Signature Medical Group, 12400 Olive Blvd., Suite 100, St. Louis, MO 63141</p>
    </div>
    </div>
  </div>
</section>
{{ footerFragment }}
{% endblock %}
