
  {% if banners %}
  <div class="banner">
    <ul class="text-center">
      {% for banner in banners %}
      <li>{% autoescape off %}{{ banner.message }}{% endautoescape %}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% load static %}
  <div class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/northland-obgyn-logo.svg' %}" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {{ isActive_providers }}">
            <a class="nav-link" href="{% url 'providers:index' %}">Providers {{request}}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{ isActive_services }}">
            <a class="nav-link" href="{% url 'services:index' %}">Services {{active}}</a>
          </li>
          <li class="nav-item {{ isActive_locations }}">
            <a class="nav-link" href="{% url 'locations:index' %}">Locations</a>
          </li>
          <li class="nav-item {{ isActive_resources }} {{ isActive_faqs }}">
            <a class="nav-link" href="{% url 'resources:index' %}">Patient Resources</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
