{% extends "base_generic.html" %}
{% block title %}{{resource.name}}{% endblock %}
{% block pageId %}resource_detail {{resource.slug}}{% endblock %}
{% block content %}
{{ headerFragment }}
{% load static %}
<header>
  <div class="img-container">
    <picture class="img-responsive">
      <source srcset="{% static 'images/JPGs/header.sm.jpg' %}" media="(max-width: 700px)">
      <source srcset="{% static 'images/JPGs/header.jpg' %}">
      <img src="{% static 'images/JPGs/header.jpg' %}" alt="{{provider.slug}}" class="img-responsive">
    </picture>
    <div class="overlay_centered">
      <span>{{ faq.type }} FAQs</span>
      <h1>{{ faq.question }}</h1>
    </div>
    <div class="tagline container"><a href="{%url faq.url %}">&larr; Back to {{ faq.type }} FAQs</a></div>
  </div>
</header>
<section class="tagline container pt-5">
  <div class="row justify-content-md-center">
    <div class="col">
      {% autoescape off %}{{faq.answer}}{% endautoescape %}
      {% autoescape off %}{{faq.special}}{% endautoescape %}
    </div>
  </div>
</section>
{{ footerFragment }}\
{% endblock %}
