{% extends "base_generic.html" %}
{% block title %}{{faq.question}}{% endblock %}
{% block pageId %}faq_detail {{faq.slug}}{% endblock %}
{% block head %}
  <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
  <link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet">
  <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet">
{% endblock %}
{% block foot_scripts %}
  <script defer src="/static/js/jquery-ui-1.12.1.custom.min.js"></script>
{% endblock %}
{% block content %}
{{ headerFragment }}
{% load static %}
<header>
  <div class="img-container">
    <picture class="img-responsive">
      <source srcset="{% static 'images/JPGs/header.sm.jpg' %}" media="(max-width: 700px)">
      <source srcset="{% static 'images/JPGs/header.jpg' %}">
      <img src="{% static 'images/JPGs/header.jpg' %}" alt="{{provider.slug}}" class="img-responsive">
    </picture>
    <div class="overlay_centered">
      <span>{{ faq.type }} FAQs</span>
      <h1>{{ faq.question }}</h1>
    </div>
    <div class="tagline container"><a href="{%url faq.url %}">&larr; Back to {{ faq.type }} FAQs</a></div>
  </div>
</header>
<section class="tagline container pt-5">
  <div class="row justify-content-md-center">
    <div class="col">
      {% autoescape off %}{{faq.answer}}{% endautoescape %}
      {% autoescape off %}{{faq.special}}{% endautoescape %}
    </div>
  </div>
</section>
{{ footerFragment }}
{% endblock %}
